<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client />
    <services>
      <service behaviorConfiguration="" name="RESTWcf.Machine">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RESTWcf/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors />
  </system.serviceModel>
</configuration>
