<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8733/ServiceMachine/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMachine"
                contract="IMachine" name="BasicHttpBinding_IMachine" />
            <endpoint address="http://localhost:8733/ServiceMachine/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMachine" contract="IMachine"
                name="WSHttpBinding_IMachine">
            </endpoint>
            <endpoint address="net.tcp://localhost:8732/ServiceMachine/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMachine"
                contract="ServiceReference1.IMachine">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>