<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMachine" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMachine" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMachine" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ServiceMachine/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMachine"
                contract="ServiceReference1.IMachine" name="BasicHttpBinding_IMachine" />
            <endpoint address="http://localhost:8733/ServiceMachine/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMachine" contract="ServiceReference1.IMachine"
                name="WSHttpBinding_IMachine">
                <identity>
                    <userPrincipalName value="i-TOSH\i" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8731/ServiceMachine" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMachine" contract="ServiceReference1.IMachine"
                name="NetTcpBinding_IMachine">
                <identity>
                    <userPrincipalName value="i-TOSH\i" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>