<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ws" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServiceMachine/basic"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference1.IMachine"
                name="basic" />
            <endpoint address="http://localhost:8080/ServiceMachine/ws" binding="wsHttpBinding"
                bindingConfiguration="ws" contract="ServiceReference1.IMachine"
                name="ws">
                <identity>
                    <userPrincipalName value="i-TOSH\i" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>