<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
       <behaviors>
          <serviceBehaviors>
             <behavior name="meta">
                <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/ServiceMachine/meta" />
             </behavior>
          </serviceBehaviors>
       </behaviors>
       <services>
          <service behaviorConfiguration="meta" name="WCFService.Machine">
             <endpoint address="http://localhost:8080/ServiceMachine/basic"
                binding="basicHttpBinding" bindingConfiguration="" name="basic"
                contract="WCFService.IMachine" />
             <endpoint address="http://localhost:8080/ServiceMachine/ws" binding="wsHttpBinding"
                bindingConfiguration="" name="ws" contract="WCFService.IMachine" />
             <endpoint address="http://localhost:8080/ServiceMachine/mex"
                binding="mexHttpBinding" bindingConfiguration="" name="mex"
                contract="IMetadataExchange" />
          </service>
       </services>
    </system.serviceModel>
</configuration>