<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="meta" name="RESTWcf.Machine">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RESTWcf"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="RESTWcf.IMachine" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="meta">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
   </configuration>