<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="meta" name="WCFService.Machine">
        <clear />
        <endpoint address="basic" binding="basicHttpBinding" contract="WCFService.IMachine" />
        <endpoint address="ws" binding="wsHttpBinding" contract="WCFService.IMachine" />
        <endpoint address="net.tcp://localhost:8732/ServiceMachine/"
          binding="netTcpBinding" contract="WCFService.IMachine" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ServiceMachine/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings />
    <behaviors>
      <serviceBehaviors>
        <behavior name="meta">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/meta" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
